<h2 id="title">Welcome to Ember</h2>

{{better-select placeholder=placeholder
                selected=singleSelected
                content=options
                optionLabelPath='content.name'
                on-selection='singleSelection'
}}
<hr>
{{better-select multiple=true placeholder=placeholder
                selected=multiSelected
                content=options
                optionLabelPath='content.name'
                on-selection='multiSelection'
}}

{{outlet}}
