<h2 id='title'>Welcome to Ember.js</h2>
<h3>:: {{test}} ::</h3>

{{selektor value=test content=testContent optionValuePath='content.id' optionLabelPath='content.name' prompt='departments.select' action='change'}}
{{outlet}}
